-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: rsp_db
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `applicant_education`
--

DROP TABLE IF EXISTS `applicant_education`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `applicant_education` (
  `id` int NOT NULL AUTO_INCREMENT,
  `applicant_id` int NOT NULL,
  `degree` varchar(255) NOT NULL,
  `yearGraduated` int NOT NULL,
  `digitalCopyLink` text NOT NULL,
  `is_highest` tinyint(1) DEFAULT '0',
  `status` enum('PENDING','QUALIFIED','DISQUALIFIED') DEFAULT 'PENDING',
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `applicant_id` (`applicant_id`),
  CONSTRAINT `applicant_education_ibfk_1` FOREIGN KEY (`applicant_id`) REFERENCES `applicants` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18921 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `applicant_eligibility`
--

DROP TABLE IF EXISTS `applicant_eligibility`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `applicant_eligibility` (
  `id` int NOT NULL AUTO_INCREMENT,
  `applicant_id` int NOT NULL,
  `details` text NOT NULL,
  `rating` varchar(255) NOT NULL,
  `digitalCopyLink` text NOT NULL,
  `status` enum('PENDING','QUALIFIED','DISQUALIFIED') DEFAULT 'PENDING',
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `applicant_id` (`applicant_id`),
  CONSTRAINT `applicant_eligibility_ibfk_1` FOREIGN KEY (`applicant_id`) REFERENCES `applicants` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18860 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `applicant_experience`
--

DROP TABLE IF EXISTS `applicant_experience`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `applicant_experience` (
  `id` int NOT NULL AUTO_INCREMENT,
  `applicant_id` int NOT NULL,
  `details` text NOT NULL,
  `years` int NOT NULL,
  `digitalCopyLink` text NOT NULL,
  `status` enum('PENDING','QUALIFIED','DISQUALIFIED') DEFAULT 'PENDING',
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `applicant_id` (`applicant_id`),
  CONSTRAINT `applicant_experience_ibfk_1` FOREIGN KEY (`applicant_id`) REFERENCES `applicants` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18975 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `applicant_training`
--

DROP TABLE IF EXISTS `applicant_training`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `applicant_training` (
  `id` int NOT NULL AUTO_INCREMENT,
  `applicant_id` int NOT NULL,
  `title` varchar(255) NOT NULL,
  `hours` int NOT NULL,
  `digitalCopyLink` text NOT NULL,
  `status` enum('PENDING','QUALIFIED','DISQUALIFIED') DEFAULT 'PENDING',
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `applicant_id` (`applicant_id`),
  CONSTRAINT `applicant_training_ibfk_1` FOREIGN KEY (`applicant_id`) REFERENCES `applicants` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18870 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `applicants`
--

DROP TABLE IF EXISTS `applicants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `applicants` (
  `id` int NOT NULL AUTO_INCREMENT,
  `firstName` varchar(100) NOT NULL,
  `middleName` varchar(100) NOT NULL,
  `lastName` varchar(100) NOT NULL,
  `nameExtension` varchar(50) DEFAULT NULL,
  `applicationType` varchar(50) NOT NULL,
  `applicationCode` varchar(50) DEFAULT NULL,
  `district` varchar(50) DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `position` varchar(100) DEFAULT NULL,
  `status` enum('PENDING','QUALIFIED','DISQUALIFIED','WAITING_FOR_ASSESSMENT','ASSESSED','NO_APPEARANCE','WAITING','ASSIGNED') DEFAULT 'PENDING',
  `interviewScore` int DEFAULT NULL,
  `scoreEducation` decimal(5,2) DEFAULT NULL,
  `scoreTraining` decimal(5,2) DEFAULT NULL,
  `scoreExperience` decimal(5,2) DEFAULT NULL,
  `scorePerformance` decimal(5,2) DEFAULT NULL,
  `scoreOutstandingAccomplishments` decimal(5,2) DEFAULT NULL,
  `scoreApplicationOfEducation` decimal(5,2) DEFAULT NULL,
  `scoreApplicationOfLD` decimal(5,2) DEFAULT NULL,
  `scorePotential` decimal(5,2) DEFAULT NULL,
  `assessmentTotal` decimal(5,2) DEFAULT NULL,
  `assessmentRemarks` enum('Assessed','In-Prog','Pending') DEFAULT 'Pending',
  `assignedOffice` varchar(255) DEFAULT NULL,
  `address` text,
  `age` int DEFAULT NULL,
  `sex` enum('Male','Female','Other') DEFAULT NULL,
  `civilStatus` varchar(50) DEFAULT NULL,
  `religion` varchar(100) DEFAULT NULL,
  `disability` varchar(100) DEFAULT NULL,
  `ethnicGroup` varchar(100) DEFAULT NULL,
  `emailAddress` varchar(150) DEFAULT NULL,
  `contactNo` varchar(50) DEFAULT NULL,
  `pdsLink` varchar(255) DEFAULT NULL,
  `req_pds` tinyint(1) DEFAULT '0',
  `req_prcLicense` tinyint(1) DEFAULT '0',
  `req_reportRating` tinyint(1) DEFAULT '0',
  `req_medCert` tinyint(1) DEFAULT '0',
  `req_birthCert` tinyint(1) DEFAULT '0',
  `req_marriageCert` tinyint(1) DEFAULT '0',
  `req_nbiClearance` tinyint(1) DEFAULT '0',
  `req_tor` tinyint(1) DEFAULT '0',
  `req_diplomaBachelors` tinyint(1) DEFAULT '0',
  `req_masters` tinyint(1) DEFAULT '0',
  `req_doctorate` tinyint(1) DEFAULT '0',
  `req_soGraduation` tinyint(1) DEFAULT '0',
  `req_orderSeparation` tinyint(1) DEFAULT '0',
  `req_saln` tinyint(1) DEFAULT '0',
  `assignmentReqStatus` enum('INCOMPLETE','COMPLETE') DEFAULT 'INCOMPLETE',
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2524 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `positions`
--

DROP TABLE IF EXISTS `positions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `positions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category` varchar(100) NOT NULL,
  `title` varchar(255) NOT NULL,
  `vacancyAnnouncement` text,
  `plantillaItem` text,
  `salaryGrade` text,
  `qsEducation` text,
  `qsTraining` text,
  `qsExperience` text,
  `qsEligibility` text,
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `in_vacancy` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=242 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `positions_list`
--

DROP TABLE IF EXISTS `positions_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `positions_list` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category` varchar(255) NOT NULL,
  `position_title` varchar(255) NOT NULL,
  `salary_grade` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=242 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-28 20:13:52
-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: rsp_db
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `positions`
--

LOCK TABLES `positions` WRITE;
/*!40000 ALTER TABLE `positions` DISABLE KEYS */;
/*!40000 ALTER TABLE `positions` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-28 20:14:24
